@model MyArticles.Models.ArticleVM

@{
    ViewBag.Title = "Index";
}

<div class="dropdown">
    @Html.DropDownList("topicList", Model.SelectList, Model.CurrentTopic,
            new { @onchange = "location = this.value;", @class = "form-control" })
</div>

<div class="text-center">
    <table class="table">
        <tr class="active">
            <th class="col-xs-3 col-md-2 text-center">
                @Html.DisplayName("Title")
            </th>
            <th class="hidden-xs col-md-7 text-center">
                @Html.DisplayName("Content")
            </th>
            <th class="col-xs-8 col-md-2 text-center">
                @Html.DisplayName("PostTime")
            </th>
            <th class="col-xs-1 col-md-1 text-center">
                <span class="glyphicon glyphicon-comment"></span>
            </th>
        </tr>

        @foreach (var item in Model.Articles)
        {
            int startIndex = 0;
            int endIndex = item.Content.Length % 100;
            string breifContent = item.Content.Substring(startIndex, endIndex);
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "View", new { id = item.ArticleId })
                </td>
                <td>
                    @Html.Raw(breifContent)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(model => item.PostTime)
                </td>
                <td>
                    <p>
                        <span class="badge">@item.Comments.Count()</span>
                    </p>
                </td>
            </tr>
        }
    </table>

    <div class="btn-group">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>