@model MyArticles.Models.TopicVM

@{
    ViewBag.Title = "TopicIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink(" ", "TopicCreate", null, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
</p>
<div class="text-center">
    <table class="table">
        <tr>
            <th class="col-xs-4 active text-center">
                @Html.DisplayNameFor(model => new MyArticles.Models.Topic().Name)
            </th>
            <th class="col-xs-8 active text-center">
                @Html.DisplayNameFor(model => new MyArticles.Models.Topic().Picture)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Topics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Picture == null)
                    {
                        <div class="form-control-static">No Image</div>
                    }
                    else
                    {
                        <img class="img-thumbnail" width="150" height="150"
                             src="@Url.Action("GetImage", new { id = item.TopicId })" />
                    }
                </td>
                <td>
                    @Html.ActionLink(" ", "TopicEdit", new { id = item.TopicId }, new { @class = "btn btn-default glyphicon glyphicon-edit" })
                </td>
            </tr>
        }

    </table>

    <div class="btn-group">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("TopicIndex", new { page = x }))
    </div>
</div>
